@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-solid {
    font-size: 1.5rem !important;
    color: white;
    padding: .8rem;
    background-color: #8806f9;
    border-radius: 4px;
    margin-bottom: 2rem !important;
}